# Copie para .env e preencha.
MONGODB_URI=mongodb+srv://usuario:senha@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=benedito_claudio
MONGODB_COLLECTION=app_state
MONGODB_DOC_ID=state

TEACHER_PASSWORD=troque-esta-senha
SESSION_SECRET=troque-por-um-texto-aleatorio

SCHOOL_NAME=Benedito Cláudio
PORT=3000
